<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>PasswordManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <%= link_to root_url, class: 'navbar-brand' do %>
              Password Manager<br />
              <span class="small text-muted">manage your passwords</span>
            <% end %>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <%= yield %>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Copyright 2021 | alexwebgr</span>
      </div>
    </footer>

    <%= render 'partials/toast_container' %>
    <div id="toasterSource">
      <%= render 'partials/toaster_light' %>
      <%= render 'partials/toaster_success' %>
      <%= render 'partials/toaster_failure' %>
    </div>
  </body>
</html>
